body,
html {
  background-image: url(../img/site-background.png);
  background-repeat: no-repeat;
}

.catalog-wrapper-grid {
  display: grid;
  grid-template-columns: 19.5rem 19.5rem 19.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  .catalog-wrapper-grid {
    display: grid;
    grid-template-columns: 19.5rem 19.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
}
@media screen and (max-width: 650px) {
  body, html {
    font-size: 12px;
  }
  .catalog-wrapper-grid {
    margin: 0 auto;
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}