/* // header syyle */
header{
    
    text-align: center;
    padding: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url(../img/colorSmoke-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header-body{
        .header-body__container{
            font-family: "Jua", sans-serif;
            font-weight: 400;
            font-style: normal;
            margin: 0 auto;
            max-width: 1200px;
            width: 95%;   
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        li{
                            font-size: 1.5rem;
                            color: white;
                            box-sizing: border-box;
                            text-align: center;
                            padding: 1rem;
                                #logo{
                                    font-size: 2.7rem;
                                }
                                a{
                                    font-weight: 900;
                                    color: white;
                                    
                                    -webkit-text-stroke: .7px black;
                                }
                            a:hover{
                                color: #f56a88 ;
                            
                            }
                        }
                }
        }
    }
}
    h1{
        text-align: center;
        font-weight: 900;
        -webkit-text-stroke: 1.5px black;
        color: white;
        font-family: "Amatic SC", sans-serif;
        font-size: 6rem;
    }

/* // header style 




/* // main style  */
main{
    background-image: url(../img/site-background.png);
    background-position: center;
    object-fit: cover;
    width: 100vw;
}
    /* // slider-txt style */
.txt{
        font-size: 16px;
        color: white;
        width: 100%;
        height: 5em;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media screen and (max-width:830px) {
            font-size: 14px;
        }
        @media screen and (max-width:700px) {
            font-size: 12px;
        }
        @media screen and (max-width:600px) {
            font-size: 8px;
        }
        
        div{
            font-size: 1.5em;
            text-align: center;
            font-weight: 800;
            margin: 0 auto;
            
        }        
}
    /* // slider-txt style */

// catalo items 
.catalog-items__title{
    margin-top: 2rem;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    -webkit-text-stroke: 2px black;
   margin-bottom: 0;
        span{
            color: white;
            padding: .5rem 1.5rem;
            border: 1px solid red;
            background-color: #FC3560 ;
            border-radius: 25%;
            margin: 0;
        }
   
}
    

// card slider style
.card-slider{
        margin-bottom: 3rem;
        margin-top: 3rem;
        justify-content: center;
        display: flex;
        width: 90%;
        margin: 0 auto; 
        @media screen and (max-width:1400px ) {
            width: 100%;
            
        }
        @media screen and (max-width:1000px ) {
            width: 95%;
            
        }

        
}
    
   

/* // slider-img */
.slider-img-wrapper{
            margin: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
            .slider-img{
                width: 80%;
                @media screen and (max-width:700px)  {
                    width: 100%;
                }
                height: auto;
                margin: 0 auto;
                .slider-imgage{
                    width: 400px;
                    border: 1px solid black ;
                    border-radius: 25%;
                    margin: .5rem;
                    border: 1px solid black;
                    object-fit: cover;
                }
    }
}

/* // icons style  */
.icons-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
        .icons-wrapper__top-left,
        .icons-wrapper__bottom-right{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:center;
            .icon-content{
                width: 20%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin-top: .5rem;
                margin: 1rem 2rem ;
                .icon{
                    width: 100%;
                }
                .content-flex-wrapper{
                    display: flex;
                    align-items: center;
                    span{
                        margin-right: .5rem;
                        font-size: 2.5em;
                        font-weight: 800;
                        -webkit-text-stroke: 1px black;
                    }
                    p{
                        margin: 0;
                        font-size: 1.5em;
                        font-weight: 600;
                        -webkit-text-stroke: 1px black;
                    }
                }
        }
    }    

}
/* // icons style */



