@media screen and (max-width: 1170px) {
  .icons-wrapper {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .icons-wrapper {
    font-size: 14px;
  }
  .icons-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icons-wrapper .icons-wrapper__top-left,
  .icons-wrapper .icons-wrapper__bottom-right {
    width: 35%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icons-wrapper .icons-wrapper__top-left .icon-content,
  .icons-wrapper .icons-wrapper__bottom-right .icon-content {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.5rem;
    margin: 1rem 2rem;
  }
  .icons-wrapper .icons-wrapper__top-left .icon-content .icon,
  .icons-wrapper .icons-wrapper__bottom-right .icon-content .icon {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .icons-wrapper {
    font-size: 12px;
  }
}