@media screen and (max-width: 1000px) {
  .product_info-images__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 670px) {
  .product_info-images__wrapper {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 670px) {
  .product_info__prices-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .product_images img {
    width: 300px;
    height: auto;
  }
  .product_info {
    width: 100%;
  }
}