body{
    background-image: url(../img/site-background.png);
    background-size: cover;
    background-position: center;
}

/* mixin for background color style */
@mixin box-style {
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    border: 1px solid black;
    
    background-color: rgba(28, 27, 29, 60%);
}
/* mixin for background color style */







.product_info-images__wrapper{
    /* bacgkround style */
    @include box-style;
    /* position style */
    margin: 0 auto ;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    .product_images{
        img{
            max-width: 90%;
            height: auto;
        }
    }
    
    .product_info{
        width: 70%;
        @media screen and (max-width:900px) {
            width: 100%;
        }

        h1{
            margin: 0;
            padding: 0;
            @media screen and (max-width:1000px) {
                font-size: 4rem;
                -webkit-text-stroke: 0px black;
            }
            @media screen and (max-width:770px) {
                font-size: 3rem;
                -webkit-text-stroke: 0px black;
            }
        }
    }
}



/* definetion */
.product_definition {
    width: 99%;
    box-sizing: border-box;
    h2{

        margin-left: 1rem;
    }
    p{
      /* bacgkround style */
        @include box-style;
        padding: 1rem 2rem;
        box-sizing: border-box;
        
    }
}



/* user review + form */
.review{
    max-width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input,textarea{
        border: 1px solid white;
        border-radius: 1rem;
        background-color: rgba(7, 6, 7, 0.6);
        color: rgb(0, 0, 0);
        -webkit-text-stroke: 0px black;
        background-color: #D9D9D9;
        padding: .3rem;
    }
}

.label{
    color: white;
    -webkit-text-stroke: .7px black ;
    font-size: 1.2rem;
    font-weight: 900;
}

.make-review{
   max-width: 450px;
   box-sizing: border-box;
    padding: .8rem;
    background-color: rgba(7, 6, 7, 0.6);
    display: inline-block;
    margin: 0  auto ;
    border-radius: 20px;
    margin-bottom: 2rem;
    

}


.make-review__form{
    display: flex;
    @media screen and (max-width:415px) {
        display: block;
        
    }
}
.make-review__form-wrapper:first-child{
    margin-right: 1rem;

}
 /* USER COMMENT WRAPPEP style--> */

 .user-review{
    @include box-style;
    padding: 10px;   
    margin-bottom: 10px;
}

.review__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    /* user name and logo  */
    .review__head_username-icon{
        display: flex;
        align-items: center;
        
    
        .head_username{
            display: flex;
            align-items: center;
        }
        .head_icon{
            margin-right: .5rem;
            font-size: 1.5rem ;
            padding: .5rem 1rem;
            border: 1px solid #CFD7EC;
            border-radius: 50%;
            background-color: #CFD7EC;
            color: #ffffff ;
            
        }
    }
    /* data and raiting */
    .head_raiting-date{
       
        display: flex;
        align-items: center;

        .head_date{
            font-size: .8rem;
            color: white;
            -webkit-text-stroke: 0px black;
            font-weight: 700;
            margin: 0;
            margin-right: 0;
        }
        
    }
}









.review__content{
    padding: 0 4%;
    /*  */

    .content_title{
        font-size: 1.3rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
    .content_img{
        display: flex;
    }
    .content_img-wrapper{
        
        width: 120px;
        height: 80px;
        border: 1px solid gray;     
    }
    /* comment style */
    .content_comment{
        -webkit-text-stroke: 0px black;
        font-size: .9rem;
        font-weight: 500;
    }

}




.make-review__raiting{
    position: relative;
}

.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #337AB7;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #BFE2FF;
}
.full-stars .rating-group:hover label svg {
    fill: #337AB7;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #BFE2FF;
}